<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301584586281-n631vdb9cpmcb3q9pftkfrfht9k4gcb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301584586281-n631vdb9cpmcb3q9pftkfrfht9k4gcb3</string>
	<key>API_KEY</key>
	<string>AIzaSyAUtcqWBt6iMpK21p51r8yzup6lWNMDmho</string>
	<key>GCM_SENDER_ID</key>
	<string>301584586281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ma.hachami.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-c8a3e</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-c8a3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301584586281:ios:5ef19ef5b0d7301b90ee38</string>
</dict>
</plist>